.ant-form-item{
  margin-bottom: 12px !important;
}

  .login-page-container{
    background-color: #ffffff !important;
    text-align: center;
    min-height: 100vh;
    padding-top: 12vh;
  }

  .login-form{
    width:  400px;
    height: 400px;
    margin: 0 auto !important;
  }

  .login-form-button {
    width: 400px;
    margin-top: 80px;
    background-color: #00A9F4 !important;
    border-color: #00A9F4 !important;
    }

  .register-button-real{
    width: 400px;
  background-color: #00A9F4 !important;
  border-color: #00A9F4 !important;
  }

  .register-button{
    width: 400px;
    color: #00A9F4 !important;
  background-color: #ffffff !important;
  border-color: #00A9F4 !important;

  }

  .remember-me-box{
    float: left;
  }
  

  .login-input{
    width: 400px;
  }

  .login-input:hover{
    border-color: #00A9F4 !important;
  }

  .login-form-forgot {
    float: right;
  }