<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Markdown to html</title>
</head>
<body>
<h1>convert markdown to html here</h1>
<form action="/api/upload" method="post" enctype="multipart/form-data">
    <label for="myfile">Select a file</label>
    <input type="file" id="myfile" name="myfile"/>
    <input type="submit" id="buttonUpload" value="Upload"/>
</form>


<h1>url:</h1>
<p><a href={{url}}>{{url}}</a> </p>


</body>
</html>